<div class="bg">
  
<form action="/auth/login" method="POST" id="form-container" class="form-signin">
<h2>Entre na sua conta</h2>
  <label for="username">Usuário</label>
  <input id="username" type="text" name="username" placeholder="Marco Polo">

  <br>

  <label for="password">Senha</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
<button class="btn btn-lg btn-primary logo">Login</button> 
 
  <div class="d-flex log">
    <p class="account-message">
    Ainda não tem uma conta?
    <a href="/auth/signup">Registrar</a>
  </p>
  <a href="/auth/facebook" class="btn btn-md btn-primary fb-login-button">Entrar com o Facebook</a>
  
  
  </div>
</form>

</div>


