<form method="POST" action="/interesse/edit/{{_id}}">
  <p><label for="tipo">Nome do interesse: <input type="text" name="tipo" value="{{tipo}}"></label></p>
  <p><label for="aeroportos">Aeroportos (Separar por vírgula): <input type="text" name="aeroportos" value="{{airports}}"></label></p>
  <p><button type="submit">Send Data</button></p>
</form>