<form method="POST" action="/interesse/new">
  <p><label for="tipo">Nome do interesse: <input type="text" name="tipo"></label></p>
  <p><label for="aeroportos">Aeroportos (Separar por vírgula): <input type="text" name="aeroportos"></label></p>
  <p><button type="submit">Send Data</button></p>
</form>
<a href="/interesse">Voltar</a>