<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/d79c913e73.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Noto+Sans|Rock+Salt&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/assets/css/docs.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/floating-labels/floating-labels.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <title>Partiu!</title>
</head>

<body>
  <div class="cover-container d-flex w-100 h-100 p-0 mx-auto flex-column">
    <div class="menu">
      <header class="masthead mb-auto">
        <div class="inner">
          <a class="logo" href="/">
            <h3 class="masthead-brand">Partiu!</h3>
          </a>
          <nav class="nav nav-masthead justify-content-center">
            {{#if user}}

            <li class="nav-item dropdown show">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">{{user.name}}</a>
              <div class="dropdown-menu " aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/interesse">Interesses</a>

                <a class="dropdown-item" href="/auth/logout">Logout</a>
              </div>
            </li>
           

            {{else}}
            <a class="nav-link" href="/auth/login" rel="noopener" aria-label="GitHub">Login</a>
            {{/if}}
          </nav>
        </div>
      </header>
    </div>
    <main role="main" class="inner cover">
      {{{body}}}
    </main>
  </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>


</html>