//bootstrap
@import "./../../node_modules/bootstrap-scss/bootstrap.scss";
//fonts
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
//variables
$maven: "Maven Pro", sans-serif;
$noto: "Noto Sans", sans-serif;
$rock: "Rock Salt", cursive;

$primary-color: #00164d;
$secondary-color: #ed1650;
$gutter: 20px;

// body {
//   margin: 0;
//   padding: 0;
//   font-family: 'Noto Sans', sans-serif;
// }
// .admin {
//   background: gray;
// }
// .logged {
//   background: lightcoral;
//   background-color: yellow;
// }
// .bd-navbar {
//   background: $primary-color;
// }
// .navbar-dark .navbar-nav .nav-link {
//     color: white;
//
// }
// header {
//     .btn {
//         color: white;
//     }
// }

$imgKey: random(5);

$list: urban, nature, exotic, art, history;
$nth: nth($list, $imgKey);

body {
  margin: 0;
  padding: 0;
  font-family: $maven;
  text-shadow: none;
  .menu {
    width: 100% !important;
    height: 64px !important;
    position: absolute !important;
    top: 0;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 20px;

    header {
      width: 90%;
      margin: 0 auto;
      position: relative !important;
      z-index: 5 !important;

      .inner {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        a {
          &.logo {
            color: $secondary-color;
            font-family: $rock;
          }
        }
      }
    }
  }
  .cover-container {
    height: 100vh;
    min-height: unset;
    max-width: 100%;
    .cover {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background: url("./../imgs/exotic.jpg") no-repeat center;
      background-size: cover;
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
      width: 100%;
      .bg {
        display: flex;
        height: 100%;
        form {
          background: white;
          background: #ffffff;
          border-radius: 4px;
          padding: 32px;
          padding-bottom: 24px;
          width: 441px;
          box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
          box-sizing: content-box;
          & > div {
            margin: $gutter 0;
          }
          .d-flex {
            justify-content: space-between;
            label {
              width: 48%;
            }
          }
          p {
            text-shadow: none;
          }
          
          input {
            background: none;
            position: relative;
            text-align: left;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            padding: 11px;
            padding-top: 8px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            display: block;
            width: 100%;
            height: 48px;
            color: #767676;
          }
          .btn-primary {
            margin-top: $gutter;
            background-color: $secondary-color;
            border-color: $secondary-color;
            &.logo {
                font-family: $rock;
            }
            &:hover {
              background-color: $primary-color;
              border-color: $primary-color;
            }

          }
        }
      }
    }
  }
}

.content {
  padding-left: 80px !important;
  padding-right: 80px !important;
  margin: 0 auto !important;
  position: relative !important;
  overflow-anchor: none !important;
  box-sizing: border-box;
}
