<div class="bg search-bg">
  <form action="/main" method="POST" class="form-signin">
    <h2 class="cover-heading urban">Qual seu próximo destino?</h2>
    <p class="lead">Planeje sua viagem para lugares incríveis de acordo com o seu bolso.</p>
    <label for="budget">Quanto você quer gastar?</label>
    <input type="text" name="budget" value="" placeholder="R$ 10.000,00" class="form-control">

    <div class="d-flex">
      <label for="dataIda">Quando pode sair?
      <input type="date" name="dataIda" class="form-control"></label>
      <label for="dataVolta">E voltar?
      <input type="date" name="dataVolta" class="form-control"></label>
    </div>
    <label for="interesse">Do que você gosta?</label>
    <select name="interesse" id="interesse" class="form-control">
      {{#each result}}
      <option value="{{tipo}}">{{tipo}}</option>
      {{/each}}
    </select>
    <button type="submit" class="btn btn-lg btn-primary logo">Partiu!</button>
  </form>
</div>

