<form action="/main" method="POST">
  <p><label for="budget">Budget:<input type="text" name="budget" value="10000"></label></p>
  <p><label for="dataIda">Data Ida:<input type="date" name="dataIda" value="20/02/2020"></label></p>
  <p><label for="interesse">Destino:</label>
    <select name="interesse" id="interesse">
{{#each result}}
      <option value="{{tipo}}">{{tipo}}</option>
{{/each}}
    </select>
  </p>
  <button type="submit">Send Data</button>
</form>
